<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <style>
            body{
                background-image: url(../static/images/hgyffth.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                opacity: 2;
            }
        </style>
    </head>
    <body>

        <h1 style="text-align: center;color:rgb(14, 3, 83);">ABOUT US</h1>
        <hr>
        <p style="color: rgb(0, 0, 0);font-size: 20px;margin:20px;padding: 23px;">Dear Guests,<br><br>
            Alaska has more than three million lakes.[18] Marshlands and wetland permafrost cover 188,320 square miles (487,700 km2) (mostly in northern, western and southwest flatlands). Glacier ice covers about 28,957 square miles (75,000 km2) of Alaska.[19] The Bering Glacier is the largest glacier in North America, covering 2,008 square miles (5,200 km2) alone.[20]


            Alaska has vast energy resources, although its oil reserves have been largely depleted.

            The Alaska Legislature consists of a 40-member House of Representatives and a 20-member Senate. Senators serve four-year terms and House members two

 
</p>
        <p style="color: rgb(4, 12, 12);font-size: 20px;margin:20px;padding: 23px;">Our Specializations<br><br>
 

            We specialize in customized & group tour Domestic packages. The range of Domestic Holidays we offer includes Heritage tours ,Cultural, Religious, Adventure, Wildlife Holidays. Our services include inbound and international tours, bookings of Hotels and Transportation, arranging Sightseeing tours, booking International and Domestic flights etc…<br><br>
            
             
            
            Your sincerely<br><br>
            
            Holidays Team.</p>
    </body>

</html>
