<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <style>
            address
            {
           font-size: 30px;
            margin:15px;
            }
        </style>
        <link rel="stylesheet" href="../static/css/css/style.css">
    </head>
    <body>
        
        <div id="contact">
           
            
            <p>
           <h2> Head office</h2><br><br>
            Written by Ram<br> 
            Visit us at:<br>
            564, landstreet<br>
            greattrip@gmail.com<br>
            1234567893
            Bangalore
            </p>
            
             <p> 
            <h2>Branch Office Details</h2><br><br>
           Shop No.1, Sai Smruti C.H.S.,<br>
           SVS Lane, Off L.T. Road,<br>
            Vazira Naka,  (W).<br>
            Karnataka<br>
             Tel :98965489/98654784/9654893210<br>
             E-mail: info@greattrip.com
            </p>
        
           
         </div>
    </body>
</html>