<!DOCTYPE html>
<html>
    <head>
        <title>GREAT TRIP</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/css/style.css">
        
        <style>
          body
          {
           background-image: url(../static/images/alaska.jpg);
           background-repeat: no-repeat;
          background-size: cover;
          }
        </style>
    </head>
    <body>
      <div class="home">
       
    
        
        <ul>
          <li><a href="Home.html"><b>Home</b></a></li>
          <li><a href="register.html" target="_blank"><b>Register</b></a></li>
          <li><a href="login.html" target="_blank"><b>Login</b></a></li>
           <li><a href="contact.html" target="_blank"><b>Contact</b></a></li>
          <li><a href="about.html" target="_blank"><b>About Us</b></a></li>
        </ul>
      </div>
      

        <div class="col">
          <h1>
            ALASKA
          </h1>
          <p> Alaska is famous for salmon, moose, caribou, bears, whales, bison, puffins, jellyfish, etc.<br> When it comes to scenery, Alaska is famous for glaciers and fjords, mountains, and more lakes, rivers, and waterways than one could dream of.</p>
         
          <button onclick="document.location='login.html'" >Explore</button>
          
        </div>
       
     
     
     
    </body>


</html>